[submodule "ST1010"]
	path = ./Apps/ST1010
	url = ./Apps/ST1010
[submodule "ST1011"]
	path = ./Apps/ST1011
	url = ./Apps/ST1011
[submodule "Backend"]
	path = Backend
	url = https://github.com/Senpumaru/COS-Backend.git
